@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: "Millik Regular";
  src: url(../fonts/MillikRegular.otf);
}
* {
  padding: 0;
  margin: 0;
}
/* Finnova corp */
.corp-page {
  max-width: 1700px;
  margin: 0 auto;
  background-color: #fcfcff;
}
a {
  border: none;
  outline: none;
}
#logo {
  width: 150px;
}
#logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
li {
  list-style: none;
}
.navigation {
  z-index: 1;
}
.nav-link {
  font-size: 0.9rem;
  font-family: "SF Pro Display";
  text-decoration: none;
  color: #0e005f !important;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  display: none;
  cursor: pointer;
  border: 1px solid #150e45;
  padding: 4px 6px;
  border-radius: 4px;
}
.bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #150e45;
  margin: 4px 0;
  border-radius: 10px;
}
.banner-img {
  width: 500px;
}
.banner-img img {
  width: 90%;
}
.heading-text {
  font-size: 5.2rem;
  font-family: "SF Pro Display";
  font-weight: bolder;
  color: #0e005f;
}
.sub-heading-text {
  font-size: 1rem;
  font-family: "SF Pro Display";
  color: #909090;
  line-height: 20px;
}
.about {
  background-image: url(./images/map.svg);
  background-size: contain;
}
.hero-img img {
  width: 85%;
  object-fit: contain;
}
.about {
  margin: 0 5rem;
  background-color: #150e45;
  box-shadow: 4px 6px 10px rgb(216, 216, 216);
}
.features {
  font-family: "SF Pro Display";
}
.about h6 {
  font-size: 2.5rem;
  font-family: "Millik Regular";
  color: #fff;
  letter-spacing: 1px;
}
.product h6,
.sdg h6 {
  font-size: 1.8rem;
  font-family: "Millik Regular";
  color: #150e45;
}
.about p {
  font-family: "SF Pro Display";
  line-height: 1.8rem;
  color: #fff;
}
.feature-leading-text,
.product-leading-text {
  font-family: "Millik Regular";
  font-size: 2rem;
  font-weight: bold;
  color: #0e005f;
}
.icon {
  color: #0e005f;
  font-size: 1.5rem;
}
.features-text {
  font-family: "SF Pro Display";
  font-size: 0.9rem;
  color: #656567;
  line-height: 1.4rem;
}
.fa-icon {
  color: #150e45;
  font-size: 1.6rem;
}
.feature-card {
  background-color: #f5f6f6;
  border-radius: 7px;
  width: 48%;
}
.feature-card h6 {
  font-size: 1.1rem;
  margin-bottom: 0;
  color: #150e45;
}
.feature-card p {
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #575757;
}
::-webkit-scrollbar {
  display: none;
}
.feature-card {
  font-size: 1.5rem;
  line-height: 45px;
}
.product-card {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  box-shadow: 4px 5px 10px #e6e6e6;
}
.product h1 {
  font-family: "SF Pro Display";
  font-size: 0.9rem;
}
.product-card p {
  font-size: 1.5rem;
  font-family: "Millik Regular";
}
.product-card ul li{
  list-style-type: circle;
}
.product h5 {
  font-family: "SF Pro Display";
  font-size: 1rem;
  color: #767678;
  line-height: 23px;
}
.sdg span {
  border-bottom: 2px solid;
  color: #0e005f;
}
.request label {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  font-family: "SF Pro Display";
}
.request-input {
  height: 38px;
  border: 1px solid #767678;
}
.request input {
  width: 97%;
  border: none;
  outline: none;
  font-size: 12px;
}
.request input::placeholder {
  font-size: 12px;
  font-family: "SF Pro Display";
  letter-spacing: 1px;
}
.request h6 {
  font-size: 1.8rem;
  font-family: "Millik Regular";
  color: #150e45;
}
.submit-btn {
  font-family: "SF Pro Display";
  border: none;
  outline: none;
  padding: 12px 100px;
  /* text-align: center;
  display: block;
  margin: auto; */
  background-color: #150e45;
  border-radius: 5px;
}
.sdg p {
  font-family: "SF Pro Display";
  font-size: 1rem;
  color: #656567;
}
.sdg h4 {
  font-family: "SF Pro Display";
  font-size: 1rem;
}
.sdg h5 {
  font-size: 1rem;
  font-family: "SF Pro Display";
  line-height: 1.8rem;
}
.sdg-card {
  background-color: #150e45;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 10px gray;
}
.sdg-img-one {
  width: 60px;
}
.sdg-img-two {
  width: 50px;
}
.goal {
  width: 80px;
}
#footer-logo {
  width: 170px;
}
#footer-logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
footer p {
  font-family: "SF Pro Display";
  color: #faf9f6;
  line-height: 18px;
  font-size: 15px;
}
footer h4 {
  font-family: "SF Pro Display";
  color: #faf9f6;
  font-weight: bold;
}
a {
  text-decoration: none !important;
  outline: none !important;
  color: #faf9f6 !important;
  font-family: "SF Pro Display" !important;
  font-size: 14px;
}
footer {
  background-color: #150e45;
}
footer h5 {
  font-family: "SF Pro Display";
  font-size: 14px;
}
.fa-solid {
  color: #faf9f6;
}
.fa-brands {
  color: #faf9f6;
  font-size: 20px;
  font-family: "Aeonik Regular";
}
.copyright {
  border-top: 1px solid #faf9f6;
  color: #faf9f6;
}
.prev,
.next {
  background-color: #150e45;
  color: #fff;
  padding: 10px 12px;
  border-radius: 50px;
}
.request-img {
  animation: bounce 2s ease-in-out infinite alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}
@media screen and (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .hamburger.active{
    border: none;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }
  .nav_menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    width: 100%;
    transition: 0.5s;
    flex-direction: column;
    background-color: #fcfcff;
    text-align: center;
    z-index: 1;
  }
  .nav_menu.active {
    left: 0;
  }
  .heading-text {
    font-size: 3rem;
  }
  .about h6 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active{
    border: none;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }
  .nav_menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    width: 100%;
    transition: 0.5s;
    flex-direction: column;
    background-color: #fcfcff;
    text-align: center;
    z-index: 1;
  }
  .nav_menu.active {
    left: 0;
  }
  .heading-text {
    font-size: 2.5rem;
  }
  .hero-img img {
    width: 90%;
  }
  .about h6 {
    font-size: 1.7rem;
  }
  .feature-card {
    width: 100%;
  }
}
