@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: "Millik Regular";
  src: url(../fonts/MillikRegular.otf);
}
* {
  padding: 0;
  margin: 0;
}
/* Finnova corp */
.corp-page {
  max-width: 1700px;
  margin: 0 auto;
}
a {
  border: none;
  outline: none;
}
#logo {
  width: 130px;
}
#logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.navbar-toggler-icon {
  width: 1em !important;
  height: 1.2em !important;
}
.navbar-toggler {
  border: 1px solid #909090;
  outline: none;
  padding: 2px 7px !important;
  --bs-border-radius: 0.275rem !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none;
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: none !important;
}
.nav-item a {
  font-size: 0.9rem;
  font-family: "SF Pro Display";
  text-decoration: none;
  color: #0e005f !important;
}
.banner-img {
  width: 500px;
}
.banner-img img {
  width: 90%;
}
.heading-text {
  font-size: 5.5rem;
  font-family: "SF Pro Display";
  font-weight: bolder;
  color: #0e005f;
}
.sub-heading-text {
  font-size: 1rem;
  font-family: "SF Pro Display";
  color: #909090;
  line-height: 20px;
}
.hero-img {
  background-image: url(./images/map.svg);
  background-size: contain;
}
.hero-img img {
  width: 85%;
  object-fit: contain;
}
.product {
  margin: 0 5rem;
  background-color: #150e45;
  box-shadow: 4px 6px 10px rgb(216, 216, 216);
}
.features {
  font-family: "SF Pro Display";
}
.product h6 {
  font-size: 2.5rem;
  font-family: "Millik Regular";
  color: #fff;
  letter-spacing: 1px;
}
.reports h6,
.sdg h6 {
  font-size: 1.8rem;
  font-family: "Millik Regular";
  color: #150e45;
}
.product p {
  font-family: "SF Pro Display";
  line-height: 1.8rem;
  color: #fff;
}
.product-img-one {
  display: block;
  margin: auto 0 auto auto;
}
.product-img-two {
  position: absolute;
  height: 350px;
  top: 150px;
}
.feature-leading-text,
.reports-leading-text {
  font-family: "Millik Regular";
  font-size: 2rem;
  font-weight: bold;
  color: #0e005f;
}
.icon {
  color: #0e005f;
  font-size: 1.5rem;
}
.features-text {
  font-family: "SF Pro Display";
  font-size: 0.9rem;
  color: #656567;
  line-height: 1.4rem;
}
.fa-icon {
  color: #150e45;
  font-size: 1.6rem;
}
.feature-card {
  background-color: #f5f6f6;
  border-radius: 5px;
}
.feature-card h6 {
  font-size: 1.1rem;
  margin-bottom: 0;
  color: #150e45;
}
.feature-card p {
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #575757;
}
::-webkit-scrollbar {
  display: none;
}
.feature-card {
  font-size: 1.5rem;
  line-height: 45px;
}
.report-card {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  box-shadow: 4px 5px 10px #e6e6e6;
}
.reports h1 {
  font-family: "SF Pro Display";
  font-size: 0.9rem;
}
.report-card p {
  font-size: 1.5rem;
  font-family: "Millik Regular";
}
.reports h5 {
  font-family: "SF Pro Display";
  font-size: 1rem;
  color: #767678;
  line-height: 23px;
}
.sdg span {
  border-bottom: 2px solid;
  color: #0e005f;
}
.request label {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  font-family: "SF Pro Display";
}
.request-input {
  height: 38px;
  border: 1px solid #767678;
}
.request input {
  width: 97%;
  border: none;
  outline: none;
  font-size: 12px;
}
.request input::placeholder {
  font-size: 12px;
  font-family: "SF Pro Display";
  letter-spacing: 1px;
}
.request h6 {
  font-size: 1.8rem;
  font-family: "Millik Regular";
  color: #150e45;
}
.submit-btn {
  font-family: "SF Pro Display";
  border: none;
  outline: none;
  padding: 12px 100px;
  display: block;
  margin: auto;
  background-color: #150e45;
  border-radius: 5px;
}
/* .request-img img {
  width: 85%;
} */
.sdg p {
  font-family: "SF Pro Display";
  font-size: 1rem;
  color: #656567;
}
.sdg h4 {
  font-family: "SF Pro Display";
  font-size: 1.4rem;
}
.sdg h5 {
  font-size: 1rem;
  font-family: "SF Pro Display";
  line-height: 1.8rem;
}
.sdg-card {
  background-color: #150e45;
  color: white;
  /* width: 45%; */
  /* height: 300px; */
  border-radius: 10px;
  box-shadow: 2px 4px 10px gray;
}
.sdg-img {
  width: 50px;
}
.goal {
  width: 80px;
}
@media screen and (max-width: 768px) {
  .heading-text {
    font-size: 2.7rem;
  }
  .product h6{
    font-size: 2rem;
  }
  
}
@media screen and (max-width: 576px) {
  .heading-text {
    font-size: 2.7rem;
  }
  .product h6{
    font-size: 2rem;
  }
  
}
