@font-face {
    font-family: "SF Pro Display";
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
  }
  
/* Finnova corp */
.corp-page {
  max-width: 1700px;
  margin: 0 auto;
}
#logo {
  height: 50px;
}
#logo img {
  height: 100%;
  object-fit: contain;
}
.navbar-toggler {
  border: 1px solid #909090;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none;
  outline: none;
}
button:focus:not(:focus-visible) {
  outline: none !important;
}
.nav-item a {
  font-size: 0.9rem;
  font-family: "SF Pro Display";
  text-decoration: none;
  color: #0e005f !important;
}
.banner-img {
  width: 500px;
}
.banner-img img {
  width: 90%;
}
.heading-text {
  font-size: 5.5rem;
  font-family: "SF Pro Display";
  font-weight: bolder;
  line-height: 105px;
  color: #909090;
}
.sub-heading-text {
  font-size: 0.9rem;
  font-family: "SF Pro Display";
  color: #909090;
  line-height: 20px;
}
.product span {
  font-size: 1.2rem;
}
.features {
  font-family: "SF Pro Display";
}
.product h6,
.features h6,
.reports h6,
.request h6,
.sdg h6 {
  font-family: "SF Pro Display";
  font-weight: bold;
  color: #0e005f;
  font-size: 1rem;
}
.product p {
  font-family: "SF Pro Display";
  line-height: 35px;
  color: #767678;
}
.product-img-one {
  display: block;
  margin: auto 0 auto auto;
}
.product-img-two {
  position: absolute;
  height: 350px;
  top: 150px;
}
.features-text {
  font-family: "SF Pro Display";
  color: #767678;
  font-size: 1rem;
  line-height: 35px;
}
.feature-cards {
  background-color: #150e45;
}
.feature-cards-sec {
  overflow-x: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.feature-card {
  font-size: 1.5rem;
  line-height: 45px;
}

.reports {
  background-color: #f5f6f6;
}
.reports h1 {
  font-family: "SF Pro Display";
  font-size: 80px;
  font-weight: bold;
}
.reports p {
  font-family: "SF Pro Display";
  color: #767678;
}
.reports h5 {
  font-family: "SF Pro Display";
  font-size: 14px;
  color: #767678;
  line-height: 23px;
}
.sdg span {
  border-bottom: 2px solid;
  color: #0e005f;
}
.request label {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  font-family: "SF Pro Display";
}
.request input {
  width: 97%;
  border: none;
  outline: none;
  font-size: 12px;
}
.request input::placeholder {
  font-size: 12px;
  font-family: "SF Pro Display";
  letter-spacing: 1px;
}
.submit-btn {
  border: none;
  outline: none;
  padding: 12px 100px;
  display: block;
  margin: auto;
  background-color: #150e45;
}
.sdg {
  background-color: #f5f6f6;
}
.sdg p {
  font-family: "SF Pro Display";
  color: #767678;
  font-size: 14px;
  line-height: 25px;
}
.sdg h4 {
  color: #767678;
  font-family: "SF Pro Display";
}
.sdg h5 {
  font-size: 14px;
  font-family: "SF Pro Display";
  color: #767678;
  line-height: 28px;
}
.sdg-card {
  border: 2px solid #909090;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.sdg-img {
  width: 50px;
}
.goal {
  width: 80px;
}
.sdg-img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .reports h1 {
    font-size: 3rem;
  }
  .heading-text {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .reports h1 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .reports h1 {
    font-size: 3rem;
  }
  .heading-text {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .reports h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
  .heading-text {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .reports h1 {
    font-size: 1.2rem;
  }
}
